<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/style.css">
    <title>Musicart: Change Profile Picture</title>
</head>
<body>
    <div class = "title">
        <h1>Change Profile Picture</h1>
    </div>
    <div class = container>
    <form action="/edit-profile/change-picture" method="POST">
        <input type="name" placeholder="Enter url of a web image" id="picture" name="picture" required>
        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>