<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/style.css">
    <title>Musicart: Change Email</title>
</head>
<body>

    <main class="search-main">
        <div class="jumbotron">
  
          <form class="search-form" action="/search_result" method="GET">
              <a href="/home" class="back-button">Home</a>
              <h1 class="track-formatter" style="margin-bottom: 1em;">Edit Profile<h2 style="margin-bottom: 15px;">Update:</h2></h1>
              <div>
  
                <a href="/edit-profile/change-picture" class="back-button" id="editPicButton">Profile Picture</a>
                
                <a href="/edit-profile/change-name" class="back-button" id="editNameButton">Name</a>

                <a class="back-button-selected" id="editEmailButton">Email</a>

                <a href="/edit-profile/change-password/<%=user.name%>" class="back-button" id="editPswdButton">Password</a>

                <a href="/logout" class="back-button" id="logoutButton">Logout</a>
              </div>
          </form>
        </div>
    </main>

    <div class = container style="margin-top: 0;">
        <form action="/edit-profile/change-email" style="width: 100%; margin-top: 0; padding-top: 0;" method="POST">
            <div class = "title" style="text-align: left;">
                <h4 style="margin-bottom: 1em;">Change Email</h4>
            </div>

            <input type="email" placeholder="Enter New Email" id="email" name="email" style="margin-top: 0; display: block;" required>
            <button class="back-button" type="submit" id="submitButton" style="margin-top: 5em; display: block;">Submit</button>
        </form>
    </div>

</body>
</html>