<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/style.css">
    <title>Musicart: Change Password</title>
</head>
<body>


    <main class="search-main">
        <div class="jumbotron">
  
          <form class="search-form" action="/search_result" method="GET">
              <a href="/home" class="back-button">Home</a>
              <h1 class="track-formatter" style="margin-bottom: 1em;">Edit Profile<br><h2 style="margin-bottom: 15px;">Update:</h2></h1>
              <div>
  
                <a href="/edit-profile/change-picture" class="back-button" id="editPicButton">Profile Picture</a>
                
                <a href="/edit-profile/change-name" class="back-button" id="editNameButton">Name</a>

                <a href="/edit-profile/change-email" class="back-button" id="editEmailButton">Email</a>

                <a class="back-button-selected" id="editPswdButton">Password</a>

                <a href="/logout" class="back-button" id="logoutButton">Logout</a>
              </div>
          </form>
        </div>
    </main>

    <div class="container" style="margin-top: 0;">
        <form action="/edit-profile/change-password" style="width: 100%; margin-top: 0; padding-top: 0;" method="POST" onsubmit="return validate()">
            <div class = "title" style="text-align: left;">
                <h4 style="margin-bottom: 1em;">Change Email</h4>
            </div>
            <div class="form-group">
                <input type="password" style="margin-top: 0; display: block;" placeholder="Enter New Password" id="newPassword" name="newPassword" required>
            </div>
            <div class="form-group">
                <input type="password" style="margin-top: 0; display: block;" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" onkeyup="check(this)" required>
            </div>
            <p style="margin-top: 0; text-align: left; color: red;">
                <error id="alert"></error>
            </p>
            <button class="back-button" type="submit" style="margin-top: 5em; display: block;">Submit</button>
        </form>
    </div>


    <!-- <div class = "title">
        <h1>Change Password</h1>
    </div>
    <div class = container>
        <form action="/edit-profile/change-password" method="POST" onsubmit="return validate()">
            <div class="form-group">
                <label for="newPassword"><b>New Password</b></label>
                <input type="password" placeholder="Enter New Password" id="newPassword" name="newPassword" required>
            </div>
            <div class="form-group">
                <label for="password"><b>Confirm Password</b></label>
                <input type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" onkeyup="check(this)" required>
            </div>
            <button type="submit">Submit</button>
        </form>
            <p>
                <error id="alert"></error>
            </p>
    </div> -->
</body>
<script type="text/javascript">
    let newPassword = document.getElementById('newPassword')
    let flag = 1;
    function check(elem) {
        if(elem.value.length > 0){
            if (elem.value != newPassword.value){
                document.getElementById('alert').innerText = "Passwords do not match";
                flag = 0;
            }else{
                document.getElementById('alert').innerText = "";
                flag = 1;
            }
        }else{
            document.getElementById('alert').innerText = "Please enter confirm password";
            flag = 0;
        }
    }
    function validate() {
        if(flag==1){
            return true;
        }else{
            return false;
        }
    }
</script>
</html>