<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musicart: Checkout</title>
</head>

<body>
    <div>
        <% data.music_info.forEach(result => { %>
            <li> <%= result[1].song_name %> </li> <input type="checkbox" name="<%=result[0]%>">
        <% }) %>
    </div>
   

    <button>Checkout</button>

</body>

</html>

<!-- <script src="/views/script.js"></script> -->

<script>
    const input = document.querySelectorAll("input")
    const button = document.querySelector("button")
    const songsById = []

    button.addEventListener("click", () => {
        for (let i = 0; i < input.length; i++) {
            if (input[i].checked) {
                let songId = input[i].name
                songsById.push({ id: parseInt(songId) })
            }
        }
    })

    button.addEventListener("click", () => {
    fetch('/create-checkout-session', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            items: songsById
        })
    }).then(res => {
        if (res.ok) return res.json()
        return res.json().then(json => Promise.reject(json))
    }).then(({ url }) => {
        // console.log(url)
        window.location = url
    }).catch(e => {
        console.error(e.error)
    })
})

</script>