<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your profile!</title>
    <link rel = "stylesheet" href="/style.css">
</head>
<body>
    <h1 class="title">
        Edit Profile
    </h1>
    <button onClick="location.href = '/edit-profile/change-name';" id="editNameButton">Change Name</button>
    <button onClick="location.href = '/edit-profile/change-email';" id="editEmailButton">Change Email</button>
    <button onClick="location.href = '/edit-profile/change-password/<%=user.name%>';" id="editPswdButton">Change Password</button>
    <button onClick="location.href = '/edit-profile/change-picture';" id="editPicButton">Change Profile Picture</button>
    <button onClick="location.href = '/logout';" id="logoutButton">Logout</button>
</body>
</html>