<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/buttons.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="title">
        Welcome!
        
    </h1>
    <% if (user.role === "Admin") { %>
        <button onClick="location.href = '/admin';" id= "adminButton">Admin</button>
  <% } %>
    <a href="checkout" class="button" style="background-color:#2e70fd">Order</a>
    
    <div class="sidebar">
        <header>Your Profile</header>
        <div class="profile">
            <a href="/edit-profile/change-picture">
                <img src="<%= user.profilePicture %>" alt="Profile Image Not Showing (please enter a valid image link)" class="profileImage">
            </a>
            <div class="profileName"><%= user.name %></div>
            <a href="/edit-profile/home" id="editProfileButton">Edit Profile</a>
        </div>
        <ul>
            <li><a href="/home"><i class="test-one"></i>Home</a></li>
            <li><a href=""><i class="test-three"></i>Buy Spotify Plays</a></li>
            <li><a href=""><i class="test-four"></i>Connect Artist Profile</a></li>
            <li><a href="https://www.musicart.pl/"><i class="test-five"></i>Musicart</a></li>
            <li><a href=""><i class="test-six"></i>Help</a></li>
            <li><a href=""><i class="test-seven"></i>Settings</a></li>
            <li><a href=""><i class="test-eight"></i></a></li>
        </ul>
    </div>
</body>
</html>