<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Cancel</title>
</head>
<body>
    <div class="title">
        <h1>
            Payment cancelled
        </h1>
    </div>
    <div>
        <h2>
            Transaction cancelled, please try again.
        </h2>
<<<<<<< Updated upstream
        <button onclick="location.href = '/home';" id="button1">Return to home page</button>
=======
    <div>
        Cancelled order: <a id='description'></a>
    </div>
        <button onclick="location.href = '/home';" style="background-color: black;">Return to home page</button>
>>>>>>> Stashed changes
    </div>
    <div class="">
        <pre class="json" id="session-data"></pre>
        <h3>You might like</h3>
        <!--Placeholder items until I can figure out how to get spotify data-->
        <ul style="margin: auto;width: 60%;">
            <%data.music_info.forEach(result=>{%>
<<<<<<< Updated upstream
                <li><%=result[1].song_name%><a href="" style="background-color:#2e70fd;">Add to cart</a></li>
=======
                <li><%=result[1].song_name%><a href="" style="background-color:#2e70fd;border:2px solid black;">Add to cart</a></li>
>>>>>>> Stashed changes
            <%})%>
        </ul>
    </div>
</body>
</html>

<script>
    var sessionData=document.getElementById('session-data');
    var params=new URLSearchParams(window.location.search);
    var id=params.get('id');
    fetch('/checkout-session?id='+id)
    .then((response)=>response.json())
    .then((session)=>{
        var output=JSON.stringify(session,null,2);
        var obj=JSON.parse(output);
<<<<<<< Updated upstream
        document.getElementById('genre').innerHTML=obj.session.line_items.description;
=======
        document.getElementById('description').innerHTML=obj.session.line_items;
        document.getElementById('genre').innerHTML=obj.session.genre;
>>>>>>> Stashed changes
        document.getElementById('language').innerHTML=obj.session.language;
        sessionData.innerText=JSON.stringify(session.line_items.data, null, 2);
    })
    .catch((error)=>{
        console.error('Error', error);
    })
</script>
