

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musicart: Checkout</title>

    <link rel="stylesheet" href="/buttons.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- <h1>Payment Success thank you for shopping here c:</h1>

    <button>Click me</button>

    <pre class="json" id="session"></pre> -->

    <div id="main">
        <div id="container">
            <div id="panel">
                <h1>Payment Successful</h1>

                <pre class="json" id="session-data"></pre>
                
                
                <a href="" class="button" style="background-color:#2e70fd">Print (WIP)</a>
                <a href="/home" class="button" style="background-color:#2e70fd">Close</a>
                <!-- <button onClick="location.href = '/home';" id="myButton">Return</button> -->
            </div>
        </div>
    </div>
    <script>
        const sessionData = document.getElementById('session-data');
        const params = new URLSearchParams(window.location.search);
        const id = params.get('id')

        fetch('/checkout-session?id=' + id)
        .then((response) => response.json())
        .then((session) => {
            sessionData.innerText = JSON.stringify(session, null, 2)
        })
        .catch((error) => {
            console.error('Error', error)
        })
    </script>
</body>

</html>
