<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/success-and-cancel.css">

    <title>Cancel</title>
</head>
<body>
    <h1 class="cancel-bar">
        Payment cancelled
    </h1>
    
    <h3 class="cancel-order">
        Cancelled order
    </h3>
    <div class="sc-panel">
        <p>
            Status: <a class="sc-results" id='description'></a><br>
            Total: <a class="sc-results" id='price'></a><br>
            Currency: <a class="sc-results" id='currency'></a><br>
        </p>
    
    </div>
        
    <button onclick="location.href = '/home';" class="back-button">Return to Home Page</button>

</body>
</html>

<script>
    const sessionData=document.getElementById('session-data');
    const params=new URLSearchParams(window.location.search);
    const id=params.get('id');
    fetch('/checkout-session?id='+id)
    .then((response)=>response.json())
    .then((session)=>{
        var output=''
        output=JSON.stringify(session,null,2);
        var obj=JSON.parse(output);
        var total=Number(obj.session.amount_total)/100;
        document.getElementById('price').innerHTML=`$${total.toFixed(2)}`
        document.getElementById('description').innerHTML=obj.session.payment_status;
        document.getElementById('currency').innerHTML=obj.session.currency;
    })
    .catch((error)=>{
        console.error('Error', error);
    })
</script>
