<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musicart: Checkout</title>

    <link rel="stylesheet" href="/buttons.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/success-and-cancel.css">
</head>

<body>
    <!-- <h1>Payment Success thank you for shopping here c:</h1>

    <button>Click me</button>

    <pre class="json" id="session"></pre> -->

    <h1 class="success-bar">Payment Successful</h1>
    
    <div class="sc-panel">
        <div class="success-grid">
            <div class="admin-history">
                
                <div class="admin-placeholder">
                    <p>Email</p>
                </div>
                
                <div class="admin-results">
                    <a class="sc-results" id="email_output"></a>
                </div>
                
                <div class="admin-placeholder">
                    <p>Total Payment</p>
                </div>
                
                <div class="admin-results">
                    <a class="sc-results" id="payment_amount"></a>
                </div>
                
            </div>
    
        </div>
    </div>
    
    
    <div>
        <pre class="json" id="session-data"></pre>
    </div>
    
    <a href="/home" class="back-button">Return to Home Page</a>
    <!-- <button onClick="location.href = '/home';" id="myButton">Return</button> -->

    <script>
        const sessionData = document.getElementById('session-data');
        const params = new URLSearchParams(window.location.search);
        window.onload = function(){
            var lengthOfName = session.

            document.getElementById('output_test').innerHTML = lengthOfName;
        };
        // const sessionData = document.getElementById('session-data');
        // const params = new URLSearchParams(window.location.search);
        const id = params.get('id')

        fetch('/checkout-session?id=' + id)
        .then((response) => response.json())
        .then((session) => {
            // sessionData.innerHTML = JSON.stringify(session, null, 2);

            var output = ''

            output = JSON.stringify(session, null, 2);

            var obj = JSON.parse(output)

            document.getElementById('email_output').innerHTML = obj.session.customer_details.email;
            
            var payment = Number(obj.session.amount_total) / 100;
            document.getElementById('payment_amount').innerHTML = `$${payment.toFixed(2)}`
            

            // sessionData.innerText = JSON.stringify(session, null, 2);
        })
        .catch((error) => {
            console.error('Error', error)
        })


        // fetch('/postMongo', {
        //     method: 'POST',
        //     headers: {
        //         'Content-Type': 'application/json'
        //     },
        //     body: JSON.stringify({
        //         item: id
        //     })
        // })
    
    </script>
</body>

</html>
