<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report a problem</title>
    <link rel = "stylesheet" href="/style.css">
    <style>
        input {
            width: 600px;
            height:200px;
            border:1px solid black;

            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            resize: both;
        }

        textarea[type="text"] {
             display: block;
             margin : 0 auto;
             box-sizing: border-box;
             padding: 12px 20px;
             min-width: 40em;
             max-width: 40em;
             max-height: 15em;
             min-height: 5em;
             font-family: Verdana, Geneva, Tahoma, sans-serif;
             overflow-wrap: break-word;
             border-radius: 1em;
             outline: solid rgba(255, 255, 255, 0.185);
             background-color: rgba(0, 0, 0, 0.514);
             color: white;
             backdrop-filter: blur(2px);
        }

    </style>

</head>

<body class="container">

    <main class="search-main">
        <div class="jumbotron">
        
        <form class="search-form" action="/search_result" method="GET">
            <a href="/home" class="back-button">Home</a>

            <h1 class="track-formatter" style="margin-bottom: 1em;">Report a problem</h1>
            
            <div>
                <a href="/help/report" class="back-button" id="reportButton">Report a Problem</a>
            </div>

            <h1 style="text-align: center; padding: 20px;">
                Enter your problem here
            </h1>
            <div>
                <form action="/help/report" method="POST">
                    <!-- <input type="text" placeholder="Enter your problem" id="report" name="report" required> -->
                    <textarea type="text" name="report" placeholder="Enter you problem" id="report" cols="30" rows="10"></textarea>
                    
                    <div style="text-align: center;">
                        <button class="back-button" type="submit" style="margin-top: 2em;">Submit</button>
                    </div>
                </form>
            </div>
            
            
        </form>
        </div>
    </main>

</body>