<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/style.css">
    <link rel = "stylesheet" href="/admin_style.css">
    <link rel = "stylesheet" href="/home.css">
    <title>Reported Issues</title>
    <style>
        .user-report {
            border: 2px solid rgba(44, 44, 44, 0.267); /* Add a border to all links */
            margin-top: -1px; /* Prevent double borders */
            background-color: rgba(0, 0, 0, 0.315); /* Grey background color */
            padding: 12px; /* Add some padding */
            text-decoration: none; /* Remove default text underline */
            font-size: 17px; /* Increase the font-size */
            border-radius: 1em;
            margin-top: 20px;
            height: 50px;
            margin: 10px;

        }

        
        .user-panel-results:hover {
            background-color: rgba(255, 235, 205, 0.178);
        }
        
        form {
            margin-top: 5px;
        }


        .deleteForm {
            display: inline-block;
            }
    </style>
</head>
<body>

    <main class="search-main">
        <div style="margin-left: 0; margin-right: 0;margin-top: 0 ;">
  
          <form class="search-form" action="/search_result" method="GET" style="background-color: black;">
              <a href="/home" class="back-button">Home</a>
              <h1 class="track-formatter" style="margin-bottom: 1em;">User Reports</h1>
              
                <a href="/admin" class="back-button" id="reportButton">Admin Dashboard</a>
  
  
          </form>
        </div>
    </main>

    <div style="background-color: rgba(22, 22, 22, 0.788);">
        <ul >
            <div class="user-reports">
                
                <% reports.forEach(function (report, index) { %>
                    <div class="user-panel-results">
                        <div class="user-report">
                                <p><%= report %></p>
                            
                        </div>
                        <div>

                            <form method="post" id="reportForm" style="margin-top: 0;background-color: rgba(210, 105, 30, 0);" action=<%= "/admin/reported-issues/" + index %>>
                                <button class="back-button" type="submit" style="background-color: rgba(210, 105, 30, 0); font-size: 15px;">Delete</button>
                            </form>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </ul>
    </div>
</body>