<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/style.css">
    <title>Reported Issues</title>
    <style>
        h1 {
            color: white;
        }
    </style>
</head>
<body>
<ul class="reportList">
    <% reports.forEach(function (report) { %>
        <li>
            <h1><%= report %></h1>
        </li>
    <% }) %>
    <a href="/admin"><i class="test-one"></i>Admin Dashboard</a>
</ul>
</body>