<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/style.css">
</head>

<body class="container">

<title>Search for Track</title>
<main class="search-main">
  <div class="jumbotron">
    
    <form class="search-form" action="/search_result" method="GET">
      <a href="/home" class="back-button">Home</a>
      <div>
        <h1 class="track-formatter">Search for Track</h1>
    <!-- <from> -->
      <!-- <label for="track_name">Enter Track Name: </label> -->
      <input placeholder="Enter Track Name" id="search_track" type="text" name="search_track">
      <!-- <input id='button' type="submit" value="OK"> -->
      </div>
      
      
    </form>
  </div>
</main>

</body>

<script>

    // button.addEventListener("click", () => {
    //     for (let i = 0; i < input.length; i++) {
    //         if (input[i].checked) {
    //             let songId = input[i].name
    //             songsById.push({ id: songId })
    //         }
    //     }
    // })

    // button.addEventListener("click", () => {
    // fetch('/search_result', {
    //     method: 'POST',
    //     headers: {
    //         'Content-Type': 'application/json'
    //     },
    //     body: JSON.stringify({
    //         items: input
    //     })
    // }).then(res => {
    //     if (res.ok) return res.json()
    //     return res.json().then(json => Promise.reject(json))
    // }).then(({ url }) => {
    //     // console.log(url)
    //     window.location = url
    // }).catch(e => {
    //     console.error(e.error)
    //     })
    // })
</script>
</html>