<!DOCTYPE html>
<html lang="en">
<head>
  Spotify API TESTing
</head>
<body class="container">

<header>
    Spotify API TESTing
</header>

<main>
  <div class="jumbotron">
    <h1>Search for Track</h1>
    <form action="/search_result" method="GET">
      <label for="track_name">Enter Track Name: </label>
      <input id="search_track" type="text" name="search_track">
      <input type="submit" value="OK">
    </form>
    
  </div>
</main>

</body>

<script>
</script>
</html>