<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel = "stylesheet" href="/style.css">
</head>
<body>
    <main class="search-main">
      <div class="jumbotron">

        <form class="search-form" action="/search_result" method="GET">
            <a href="/home" class="back-button">Home</a>
            <h1 class="track-formatter" style="margin-bottom: 1em;">User Settings</h1>
            <div>

                <a href="/edit-profile/home" class="back-button" id="editNameButton">Update Profile Info</a>

                <a href="/logout" class="back-button" id="logoutButton">Logout</a>

            </div>


        </form>
      </div>
    </main>

    <h1 class="title">
        Settings
    </h1>
    
    <ul>
        <li><a href="/home"><i class="test-one"></i>Home</a></li>
    </ul>
</body>
</html>