
.container {
    --dark_black_blue: rgba(33, 44, 61, 0.5);
    --light_grey: rgba(98, 107, 120, 0.2);
    --grey_blue: rgba(28, 67, 122, 0.5);
}
body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-image: url("Vinyl_BG.jpeg");
}
h1 {
    text-align: center;
    font-family: 'Merienda', cursive;
    color: white;
    font-size: 64px;
    border-bottom: solid 1px white;
}
.musicart {
    color: white;
    font-family: 'Merienda', cursive;
    font-size: 36pt;
    text-align: center;
}
.title {
    color: white;
    font-family: 'Roboto', 'sansa-serif';
    font-size: 18pt;
    text-align: center;
    margin-top: 3%;
}
.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
    column-gap: 2px;
    row-gap: 2px;
    grid-template-areas: 
    "sidebar topnav topnav"
    "sidebar content content"
    "sidebar footer footer";
}
.topnav {
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    grid-area: topnav;
    overflow: hidden;
    margin-top: 5px;
    border-radius: 10px;
    border-color: var(--light_grey); */

    grid-area: topnav;
    font-family: 'Merienda', cursive;
    color: white;
    justify-content: center;
}

.topnav a {
    float: left;
    display: block;
    color:grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

.topnav a:hover {
    background-color: var(--light_grey);
    color: black;
}

.topnav a.active {
    background-color: var(--dark_black_blue);
    color: grey;
}

.sidebar {
    text-align: left;
    position: fixed;
    left: 0;
    width: 265px;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 3px 8px rgba(255, 255, 255, 0.8);
    overflow-y: auto;
}

.sidebar header{
    font-size: 22px;
    color: black;
    text-align: center;
    line-height: 70px;
    background: rgb(255, 255, 255);
    user-select: none;
}


.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: black;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: .4s;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}
li {
    align-content: center;
    display: inline;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    /* border: 3px solid black; */
}

.content {
    grid-area: content;
    
    /* background-image: url("oak-wood.jpeg"); */
}
.footer {
    display: flex;
    justify-content: center;
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.7)
}

/* Slide Show  */
/* *{box-sizing: border-box;} */
.slide-show-box {
    max-width: 90%;
    position: relative;
    margin: auto;
    border: 2px solid white;
}

/* hide by default */
.slide {
    display: none;
}

/* next and previous btn */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* position next to right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;

}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* text decoration  */
.text{
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.text-num{
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
  }
  
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 4s;
}
  
@-webkit-keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
}

h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}