/* * {
    font-family: sans-serif;
} */

body {
    background-image: url("Vinyl_BG.jpeg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

form {
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 5px solid rgba(255, 255, 255, 0);
    backdrop-filter: blur(60px);
    padding: 16px;
    color: white;
    display: inline-block;
}

input:not("#report") {
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    width: 250px;
    height: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

button {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    width: 100px;
}

button:hover {
    opacity: 0.8;
    background-color: whitesmoke;
    color: #000000;
    cursor: pointer;

}

.panel {
    background-color: rgba(255, 255, 255, 0.589);
    height: 30em;
}

.reccbutton {
    border-radius: 25px;
    background-color: magenta;
    color: white;
    width: 100px;
    margin-left: 10px;
}

.user {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.track-formatter {
    margin-top: 20px;
}


/* ul {
    align-content: center;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:white;
} */

li {
    align-content: center;
    display: inline;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    /* border: 3px solid black; */
}

.block {
    margin: auto;
    margin-bottom: 50px;
    border: 3px solid black;
    border-radius: 10px;
    align-content: center;
    padding: 20px;
    width: max-content;
}

.recc{
    margin: auto;
    margin-top: 100px;
}
li a {
    display:block;
    color:white;
    text-align:center;
    padding:16px;
    text-decoration:none;
}

.musicart {
    color: white;
    font-family: 'Merienda', cursive;
    font-size: 36pt;
    text-align: center;
}
.title {
    color: white;
    font-family: 'Roboto', 'sansa-serif';
    font-size: 18pt;
    text-align: center;
    margin-top: 3%;
}

form.search-main {
    position: sticky;
    top: 0px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

form.search-main:hover {
    box-shadow: inset 900em 0 0 0 rgba(255, 255, 255, 0.219);
}


.footer {
    position: sticky;
    height: 60px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: left;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.footer:hover {
    /* background-color: rgba(49, 146, 70, 0.8); */
    box-shadow: inset 900em 0 0 0 rgba(49, 146, 70, 0.8);
}

.search-checkout {
    background-color: rgba(0, 0, 0, 0);
}


.back-button {
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: all 1s;
}

.back-button:hover {
    color:#000000;
    box-shadow: inset 900px 0 0 0 #FFFFFF;
}

.search-form {
    width: 100%;
    text-align: left;
    padding: 20px;
}


.search-results {
    color: white;
}

.search-back {
    margin-top: 15px;
}

.song-type {
    background-color: rgba(0, 0, 0, 0.582);
    width: 195px;
    border-radius: 35px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}



.music-tiles {
    background-color: rgba(0, 0, 0, 0.363);
    text-align: left;
    border-radius: 25px;
    padding: 20px; 
    margin: 20px;
    border-style: solid;
    border-color: rgba(240, 248, 255, 0);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: all 1s;
}

.music-tiles:hover {
    background-color: rgba(29, 29, 29, 0.363);
    border-style: solid;
    border-color: rgb(77, 218, 112);
    box-shadow: inset 1900px 0 0 0 #ffffff2c;
}

.music-tiles input {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.music-image {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 35px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);

}

.music-image:hover {
    border-color: rgb(77, 218, 112);
    opacity: 0.5;
}


.checkbox-container {
    background-color: rgba(83, 103, 158, 0.205);
    border-radius: 25px;
    padding: 30px;
}



label {
   font-size: 25px;
   padding-left: 10px;
}

.checkbox-container input[type="checkbox"]:checked + label {
    visibility: hidden;
}







